/* #3F3F3F dark grey
#707070 med gray
#202020 blackish
*/

.wholeheader {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    bottom: 0;
}

header {
    width: 100%;
    height: 45px;
    background: #ffdf6c;
    box-shadow: 0 0 3px 0 rgb(202, 202, 202);
    /*   display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none; */
    padding: 0em 3em;
}


/* Hamburger */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked .sidebar {
    visibility: visible;
    /* left: 0; */
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 8px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
}

.menu__btn>span::before {
    content: "";
    top: -8px;
}

.menu__btn>span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu__item:hover {
    background-color: #cfd8dc;
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

.container {
    width: 100%;
    background: #f5f5f58f;
}

.content {
    padding: 3em;
    margin-left: 300px;
}

.sidebar {
    left: 0;
    width: 300px;
    height: 100%;
    background: #202020;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-bottom: 2em;
    box-shadow: 0 0 3px 0 rgb(202, 202, 202);
    /* display: none; */
    visibility: visible;
    transition-duration: 0.25s;
    z-index: 1;
}

.sidebar ul {
    /* padding-left: 1em;
    padding-right: 1em; */
    width: 100%;
    height: fit-content;
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    /* padding: 0.001em; */
    font-size: 0.9em;
    display: block;
    padding: 0em 1em;
    position: relative;
}

.sidebar ul li {
    /* background-color: #f0f0f025; */
    padding: 0.8em 0.5em;
    margin-bottom: 0em;
    /* padding-left: 2em; */
    /* border-radius: 5px; */
    transition: all 0.1s ease;
    width: 100%;
    /* border-bottom-style: solid;
    border-bottom-width: 1px; */
    /* border-bottom-color: rgb(221, 218, 50); */
}

.sidebar ul li:hover {
    border-left-color: #ffdf6c;
    border-left-style: solid;
    transition: all 0.1s ease;
    background-color: rgb(46, 46, 46);
}

.sidebar::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #fb770d;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

.subMenu ul {
    background-color: #707070;
    margin-top: 1em;
}

.subMenu ul li:hover {
    border-left-color: #707070 !important;
    border-left-style: solid;
    transition: all 0.1s ease;
    /* background-color: #572a68 !important; */
}

.subMenu a img {
    position: absolute;
    right: 14px;
    bottom: 2px;
}

.logo {
    padding: 1.5em 0em;
    color: #fff;
}

section {
    background-color: #fff;
    padding: 2em;
    box-shadow: 0 0 3px 0 rgb(202, 202, 202);
    border-radius: 5px;
    margin-bottom: 2em;
}

section div {
    margin-bottom: 2em;
}

section>h1:first-of-type,
h2,
h3,
h4 {
    color: rgb(126, 126, 126);
    /* padding: 1em 0em; */
    padding-bottom: 1em;
}

.headings>* {
    padding-bottom: 1em;
}

.buttons {
    padding: 1em 1em;
}

.buttonDanger {
    background-color: rgb(250, 70, 70);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttonWarn {
    background-color: rgb(182, 169, 50);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttonSubmit {
    background-color: rgb(98, 100, 241);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttonDisable {
    background-color: rgb(134, 134, 134);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
}


/* Glass Buttons*/

.buttonsGlass {
    background: #fbd3e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bb377d, #fbd3e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bb377d, #fbd3e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1em 1em;
    border-radius: 5px;
}

.buttonsGlass>* {
    margin-right: 0.3em;
}

.buttonDangerGlass {
    background: rgb(250, 70, 70, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttonWarnGlass {
    background: rgb(182, 169, 50, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttonSubmitGlass {
    background: rgb(98, 100, 241, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.buttonDisableGlass {
    background: rgb(134, 134, 134, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0.7em 1em;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}


/* Cards */

.wholeCards {
    width: 100%;
}

.singleCard {
    background-color: #202020;
    flex: 0 0 29.3%;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    padding: 2em 3em;
}

.singleCard h1 {
    color: #fff;
}

.singleCard p {
    color: #ffdf6c;
    font-weight: bold;
    font-size: 2em;
}


/*  Long cards */

.longCardDetails {
    padding: 0em 2em;
}

.longCardDetails h1 {
    color: #202020;
    padding-bottom: 1em;
}

.longCardDetails p {
    color: #707070;
}

.singleLongCard img {
    width: 100%;
}

.ops {
    padding-top: 1em;
}

.table {}

table {
    width: 100%;
}

table thead th {
    background-color: #ffdf6c;
}

table {
    /* background-color: #56aaad; */
}

table thead {
    background-color: #bb377d;
}

table thead th {
    background-color: #ceb457 !important;
    color: #fff;
    border-radius: 0 !important;
}

table thead tr {
    padding: 0;
    padding-top: 0.5em;
    background-color: #ceb457 !important;
}

table tbody {}

table tbody tr {
    padding: 0;
    margin: 0;
    box-shadow: 0 0 1px 0 rgb(148, 148, 148);
    margin-bottom: 0.3em;
}

table tbody tr:nth-child(even) {
    background-color: #ceb45756;
}

table tbody tr td {
    margin-right: 0em;
    border-radius: 0;
    margin-bottom: 0em;
    background-color: transparent;
    color: #707070;
}


/* table tbody tr td:nth-child(1) {
    background-color: #8f729c;
    border-radius: 0;
    color: #fff;
} */

table thead tr {}

table thead tr th {}

td,
th {
    /* display: inline-block; */
    /* margin: 0 0.5rem 0.5rem 0; */
    padding: 0.5rem;
    /* text-align: left; */
    background-color: white;
    /* border: 1px solid transparentize( #58C25F, 0.5); */
    border-radius: 5px;
    /* width: 100%; */
    border: none !important;
}